.login_banner {
    width: 100%;
    border: 1px solid black;
}

#editBookView {
    width: 50%;
}
#editBookView fieldset div {
    width: 100%;
}
#editBookView fieldset label {
    width: 20%;
    display:block;
}
#editBookView fieldset input, #editBookView fieldset textarea {
    width: 100%;
}

/*Animations*/
.example-show-setup, .example-hide-setup {
  -webkit-transition:all 2s;
  -moz-transition:all 2s;
  -ms-transition:all 2s;
  -o-transition:all 2s;
  transition:all 2s;
}

.example-show-setup {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
.example-show-setup.example-show-start {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.example-hide-setup {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}
.example-hide-setup.example-hide-start {
  line-height:0;
  opacity:0;
  padding:0 10px;
}


.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
}

